body {
  margin: 0;
  padding: 0;
  background-color:midnightblue;
  color:white;
  text-shadow: 2px 2px black;
}
.user-div {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}
.div {
  display:flex;
  justify-items:center;
  align-items:center;
}
.profile-div{
  display: flex;
  flex-direction: row;
}
.profile-div img {
  margin-right:25px;
  border-radius: 50%;
}
.follower-div{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width: 200px;
  height:200px;
}
.list-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 10px;
  padding: 10px;
}
.follower-div img {
  display:flex;
  justify-content:center;
  align-content:center;
  max-width: 70%;
  max-height: 70%;
  border-radius: 50%;
}